/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}

.paragraph p:first-child{
	color: white;
	background-color: black;
}

.paragraph p:second-child{
	color: standard;
}

.paragraph p:last-child{
	color: red;
}

.list li:nth-child(even){
	background-color: gray;
}

.list li:nth-child(odd){
	background-color: white;
}

.list li{
	width: 50%;
	padding: 10px;
}

.list li:first-child, li:last-child{
	font-size: 22px;
}

.list li:nth-last-child(3){
	background-color: pink;
}
